<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pautas</title>
</head>
<body>
    <h1>Pautas Cadastradas!</h1>
    <div th:each="pauta : ${pautas}">
    	<div>Votação SIM: <span th:text="${pauta.votoSim}">0</span></div>
    	<div>Votação NÃO: <span th:text="${pauta.votoNao}">0</span></div>
    	<div>Total de votos atuais: <span th:text="${pauta.votoSim} + ${pauta.votoNao}">0</span></div>
    </div>
</body>
</html>
